@import 'style/variables.scss';

html, body {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 28px;
  font-weight: 900;
  @media(max-width: $xsSize) {
    font-size: 24px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;
}
